.pdf-container {
  min-height: 80vh;
}

.pdf-pages {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.pdf-page {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.pdf-iframe {
  width: 100%;
  height: 500px; /* Increase the height value as desired */
  border: none;
}


