  
@media (max-width: 600px) {
  .page8{
    height:1500px;
   }
   }
   
   @media (min-width: 601px) and (max-width: 1024px) {
    
   }
   
   @media (min-width: 1025px) {
   .page8{
    height:1500px;
   }
   .row{
    padding-left:65px;
  }
   }