

  
  .delicacies-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
    gap:80px;
  }
  
  .delicacy {
    text-align: center;
    width: 100%;
    max-width: 310px;


  }
  
  @media screen and (max-width: 768px) {
    .delicacies-row {
      justify-content: center; 
    }
  }
   .video{
    border-radius: 8px;
   }
@media (max-width: 600px) {
.page5{
  height:10100px;
}
.save{
  padding-left:25px;
}
.save2{
  padding-left:38px;
}
   }
   
   @media (min-width: 601px) and (max-width: 1024px) {
 
     
   }
   
   @media (min-width: 1025px) {
    .page5{
height:3400px;
    }
    .video{
        border-radius: 15px;
        height:450px;
        width:250px;
    }
   }