
.scrollable-container {
   overflow-x: auto;
   white-space: nowrap;
   padding: 20px 0;
 }
 
 .page12 {
   display: inline-block;
 }
   @media (max-width: 600px) {
 
   
 
 }
 @media (min-width:601px) and (max-width:1023px){

 }
 
 @media (min-width: 1024px) {
    .page12{
    height:200px;
    }
 }

 .scrollable-container {
  overflow-x: scroll;
}

.page12 {
  display: flex;
}

.page12::-webkit-scrollbar {
  height: 8px;
  background-color: #f5f5f5;
}

.page12::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}

.page12::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

 