.scrollable-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;

}
.scrollable-container2 {
  overflow-x: auto;
  white-space: nowrap;
padding-Top: 100px ;

}
/* .home{
  
  margin-left:125px;
} */
.bg-image {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}
.bg-image2{
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* position: absolute;   */
  /* top: 0; */
  left: 0;
  width: 100%;
  height: 100vh;
}

.video-container.animate video {
  /* Add your desired animation properties here */
  animation: videoAnimation 1s ease;
}

@keyframes videoAnimation {
  /* Add your desired animation keyframes here */
  /* Example keyframes for opacity animation */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 600px) {
  .scrollable-container2 {
    overflow-x: auto;
    white-space: nowrap;
    padding: 70px 0;
  
  }
   }
   