.scrollable-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
}

.bg-image {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.video-container.animate video {
  /* Add your desired animation properties here */
  animation: videoAnimation 1s ease;
}

@keyframes videoAnimation {
  /* Add your desired animation keyframes here */
  /* Example keyframes for opacity animation */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}