 

@media (max-width: 600px) {
  .bg-gradiant{
    height:500vh;
  }
  .page1 {
    height: 1900px; 
  }
  
}

@media (min-width: 601px) and (max-width: 1024px) {
  .bg-gradiant{
    height:220vh;
  }
  .page1 {
    height: 950px; 
  }
  
}

@media (min-width: 1025px) {
  .about {
    font-size: 1.2em;
  }
  .page1 {
    height: 900px; 
  }
  
}