.page1 {
  height: 900px; 
}

@media (max-width: 600px) {
  .bg-gradiant{
    height:500vh;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .bg-gradiant{
    height:220vh;
  }
}

@media (min-width: 1025px) {
  .about {
    font-size: 1.2em;
  }
}