 

@media (max-width: 600px) {
  .page1 {
    height: 2500px; 
  }
  
}

@media (min-width: 601px) and (max-width: 1024px) {
  .page1 {
    height: 950px; 
  }
  
}

@media (min-width: 1025px) {
  .about {
    font-size: 1.2em;
  }
  .page1 {
    height: 900px; 
  }
  
}