

@media (max-width: 600px) {
    .page13{
     height:8750px;
    }
    .row{
      padding-left:50px;
    }
   }
   
   @media (min-width: 601px) and (max-width: 1024px) {
     .page13{
         height:3250px;
     }
     
   }
   
   @media (min-width: 1025px) {
    .page13{
     height:3300px;
    }
    .row{
      padding-left:5px;
    }
    
   }
   /* .card{
    border-radius: 10px; 
    overflow: hidden;
   } */