
  
@media (max-width: 600px) {
   .page4{
    height:1500px;
   }
   
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    .page4{
        height:4000px;
    }
    
  }
  
  @media (min-width: 1025px) {
   .page4{
    height:1800px;
   }
   .heading{
    font-Size:2.2em;
   }
   .row{
    padding-left:65px;
  }
  
  }

  .image-container {
    max-width: 280px; /* Set the maximum width of the image container */
  }
  
  .responsive-image {
    /* width: 100%; Set width to 100% of the container */
    height: auto; /* Allow the height to adjust automatically */
    transition: transform 0.3s; /* Add a transition effect to the transform property */
  }
  
  .responsive-image:hover {
    transform: translateY(-10px); /* Move the image up by 10 pixels on hover */
  }
  