
.image-card {
  display: flex;
  flex-wrap: wrap;
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 5px 15px #0f6d53;
   
  }
  
@media (max-width: 600px) {
   .page4{
    height:6500px;
   }
   .day{
    padding-left:35px;
  }
  .heading{
    font-size:1.8em;
  }
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    .page4{
        height:4000px;
    }
    /* .day{
      display: flex;
      flex:wrap;
    } */
    
  }
  
  @media (min-width: 1025px) {
   .page4{
    height:4800px;
   }
   .heading{
    font-Size:2.2em;
   }
   .day{
    padding-left:30px;
  }
  
  }

  .image-container {
    max-width: 280px; 
  }
  
  .responsive-image {
  
    height: auto;
    transition: transform 0.3s; 
  }
  
  .responsive-image:hover {
    transform: translateY(-10px); 
  }
  