.image-card {
  display: flex;
  flex-wrap: wrap;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 5px 15px #0f6d53;
   
  }
  
  .hovered {
    transform: translateY(-10px);
  }
  
  .card-image {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
  }

 