
.icon{
    width:40px;
    height:30px;
    color:#0f6d53;
}
.instagram:hover{
  cursor: pointer;
}
.whatsapp:hover{
    cursor: pointer;
}
.pinterest:hover{
    cursor: pointer;
}

@media (max-width: 600px) {
    .icons{
        margin-bottom:20px;
    }
    /* .footer{
        margin-top:70px;
        margin-bottom:50px;
    } */
    
  }
  @media(max-width:1024px){
    /* .footer{
        margin-top:140px;
        margin-bottom:50px;
    } */
  }

@media (min-width: 1025px) {
   .footercon{
    margin-left:270px;
   }
   .footer{
    margin-top:10px;
   }
   .btn .btn-success {
    margin-Left:'250px';
   }
  }